body {
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 50px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 60px;
    height: 60px;
}

.text {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.section {
    margin-top: 15px;
}


.community-menu {
    font-size: 13px;
    margin-bottom: 15px;
    color: #999;
    font-size: 14px;
}

.jumbotron {
    margin-left: 500px;
}

.comment-name {
    padding-top: 18px;
}

.comment {
    margin: 15px 0 15px 0;
}

.comment-button {
    float: right;
    margin-bottom: 10px;
}